@font-face {
	font-family: "SF Pro Text";
	font-style: normal;
  font-display: swap;
	font-weight: 400;
  src: url("/fonts/sf-pro-text-regular.woff2") format("woff2");
}

@font-face {
	font-family: "SF Pro Display";
	font-style: normal;
  font-display: swap;
	font-weight: 600;
  src: url("/fonts/sf-pro-display-bold.woff2") format("woff2");
}
